/* .background {
  background-image: url(../images/clock.gif);
  background-size: 70%;
} */
.all {
  padding-top: 20px;
  background: rgb(0, 0, 0);
}

/* #jumbo{
  opacity: .8;
  font-family: 'Pacifissssco', cursive;
  margin: 0;
  padding: 3% 0% 6%;
} */

.display-4{
margin: 2% 0;
}


#food-video {
  margin-bottom: -100px;
  z-index: -10;
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  display: none;
  /* background: linear-gradient(to right, black 50%, white 50%); */


}


#drink-video {
  margin-bottom: -250px;
  z-index: -10;
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  display: none;
  /* background: linear-gradient(to right, black 50%, white 50%); */


}

.lead {
  float: left;
  position: relative;
  margin:0;
}

/* sample list */


.sample{
  float: left;
  width: 8%;
  margin: 0% 1% 0%;
  border-radius: 50%;
}

.row {
/* border-top: 5px solid rgb(32, 96, 0);
border-bottom: rgb(32, 96, 0); */
}
/* content */
.content {
  text-align: center;
  height: auto;
  padding: 0px;
  font-family: 'Pacifico', cursive;
  font-size: 16px;
}

.content {
  height: 370px;
}

#left-side, #right-side {
  /* background: rgb(243, 207, 207); */
  overflow: auto;
  /* width: 100%; */
  /* padding-top: 10%; */

}
#left-side {
  background-image: url("../images/foodb2.png");
  background-size: 100% 100%;
  
  border-right: 3px solid rgb(255, 255, 0);
  border-top: 2px solid rgb(255, 0, 0);
  border-bottom: 2px solid rgb(109, 0, 0);
  box-shadow:  -15px 0px 20px 10px rgb(120, 0, 0);
  padding-left: 25%;
  color: white;
}
#right-side {
  background-image: url("../images/drink.gif");
  background-size: 100% 100%;
  border-left: 3px solid rgb(216, 216, 0);
  border-top: 2px solid rgb(0, 81, 255);
  border-bottom: 2px solid rgb(0, 36, 113);
  /* background: rgb(211, 202, 243); */
  box-shadow: 15px 0px 20px 10px rgb(1, 1, 128);

  padding-right: 25%;
  color: white;
}

#left-default {
  margin-top: 150px;
  margin-left: -50px;
  margin-right: 20px;
  text-shadow: 2px 2px 3px  #FF0000;

}
#right-default {
  margin-top: 150px;
  margin-left: 20px;
  margin-right: -30px;
  text-shadow: 2px 2px 3px  rgb(13, 0, 255);

}

.drink-search-input {
  text-shadow: 2px 2px 3px  rgb(0, 0, 0);
  color: white;
}

#food-search-button {
  background-color: rgba(114, 2, 2, 0.639) ! important;
  border: 1px solid white;
  border-radius: 50%;
  
}
#food-search-button:hover {
  background-color: rgba(255, 255, 255, 0.774) ! important;
  border: 1px solid rgb(255, 0, 0);
  color: black;
  font-weight: bold;
  border-radius: 50%;
  
}

#food-search-button:active {
  background-color: rgba(255, 0, 0, 0.372) ! important;
  border: 1px solid rgb(174, 174, 64);
  color: rgb(255, 255, 255);
  font-weight: bold;
  /* font-size: 16px; */
  border-radius: 50%;
  
}

#drink-search-button {
  background-color: rgba(0, 30, 106, 0.577) ! important;
  border: 1px solid white;
  border-radius: 50%;
  
}
#drink-search-button:hover {
  background-color: rgba(255, 255, 255, 0.774) ! important;
  border: 1px solid rgba(0, 46, 162, 0.577);
  color: black;
  font-weight: bold;
  border-radius: 50%;
  
}
#drink-search-button:active {
  background-color: rgba(0, 46, 162, 0.577) ! important;
  border: 1px solid rgb(174, 174, 64);
  color: rgb(255, 255, 255);
  font-weight: bold;
  /* font-size: 16px; */
  border-radius: 50%;
  
}

#food-random-button {
  background: rgba(0, 0, 0, 0.728);
  border-radius: 20px 0px;
}
#back-button {
  background: rgba(0, 0, 0, 0.728);
  border-radius: 20px 0px;
  margin-top: 5px;


}
#drink-random-button {
  background: rgba(0, 0, 0, 0.728);
  border-radius: 20px 0px;

}
.form-set{
  width: 100%;
}

#food-photo, #drink-photo {
  /* width: 80%;
  padding-bottom: 1%;
  margin: 5%; */
}

#drink-results{
  background: black;
width: 211%;
  margin-left: -106%;
  margin-top: -8%;
  /* padding-bottom: 100px;
  padding-top: 30px; */
  padding-left: 20px;
  padding-right: 20px;

}

#food-results {
  background: black;
  width: 211%;
    margin-left: -7%;
    margin-top: -8%;
    /* padding-bottom: 100px;
    padding-top: 30px; */
    padding-left: 20px;
    padding-right: 20px;
}

#food-photo {
  /* background: rgba(48, 48, 48, 0.03); */

  margin-top: -360px;
  /* margin-top: -112px; */
  margin-left: -320px;
  margin-bottom: 0%;
  margin-right: 0px;
  width: 745px;
  height: 418px;
}
#drink-photo {
  margin-top: -360px;
  margin-left: -15px;
  width: 620px;
  height: 418px; 
}

.switch-video {
  position: absolute;
  margin-left: 30px;
  margin-top: 30px;

} */

.video-play {
  position: absolute;
  width: 20px;

  margin-right: 10px;
  position: absolute;
  /* border-radius: 50%; */

}

/* timer */
.timer {
  position: fixed;
  bottom: 5%;
  right: 2%;
  z-index: 1;
}

/* footer */
footer {
  background: red;

  z-index: 10;
  background: white;
  width: 100%;
  bottom: 0px;
  text-align: center;
  font-size: 14px;
  color: grey;
  height: 23%;
  margin-bottom: -300px;
}

.foot-references{
  color: white;
  position: absolute;
  width: 35%;
  height: 17%;
  margin-top: -.7%;
  margin-right: 30%;
  padding-left: 20px;
  background: rgba(0, 0, 0, 0.838);
  border-radius: 0px 0px 90px 0px;
  /* border-bottom: 1px solid rgb(120, 0, 0); */
  /* border-right: 3px solid rgb(154, 0, 0); */
  /* border-top: 2px solid rgb(255, 0, 0); */

  box-shadow:  5px 5px 30px 10px rgb(120, 0, 0);
  text-shadow: 2px 2px 3px  #FF0000;

}

.foot-contacts{
  color: white;
  font-size: 80%;
  position: absolute;
  width: 35%;
  height: 17%;
  margin-top: -.7%;
  padding-left: 20px;

  margin-left: 65%;
  background: rgba(0, 0, 0, 0.872);
  border-radius: 0px 0px 0px 90px;
  /* border-bottom: 3px solid rgb(8, 0, 154);
  border-right: 3px solid rgb(8, 0, 154);
  border-top: 3px solid rgb(8, 0, 154); */

  box-shadow: -2px 5px 30px 10px rgb(1, 1, 128);
  text-shadow: 2px 2px 3px  rgb(13, 0, 255);

}

.cp-right {
  position: absolute;
  margin-top: 400px;
  margin-left: 50%;
}


@media (max-width: 575px){

  #jumbo{
    padding-bottom: 15%;
  }

  .display-4{
    font-size: 14px !important;
    font-weight: bolder;
    margin:0;
  }
  .lead{
    font-size: 10px !important;
  }


  #food-video {

    margin-bottom: -400px;
    z-index: -10;
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    display: none;
  }
  #drink-video {
    margin-bottom: -400px;
    z-index: -10;
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    display: none;
  }

}